body
{
font-family: 'Dosis', sans-serif;
background:url(fond.png) repeat;
}

.niveau2 {
 display: none;
 position: absolute;
 left: 140px;
 top: 0px;
 margin: 0px;
 padding: 0px;
}

#linkedin {
margin-left: 80%;
display: inline-block;
}
#adresse {
display: inline-block;
}


.menu li {
  position: relative;
  width: 140px;
 background-color: #E0E0E0
}

#bts {
  background-color: yellow;
}
#bac {
  background-color: blue;
}
#best {
  background-color: pink;
}
#bafa {
  background-color: grey;
}

#psc1 {
background-color: pink;
}

#jump {
  background-color: grey;
}



.niveau2 div {
border-radius: 50%;
}

.niveau2 li {
  list-style-type:none;
}

header {
width: 100%;
}

nav {
width: 100%;
}

li:hover ul.niveau2 {
  display:block;
}

#diplome {

}

#certification {
  margin-top: 10px;
}




aside
{
  float: left;
  width: 15%;
}



article
{
  float: right;
  width:85%;
}

#separation

{
  float: right;
  width:70%;
  height: 10px;
}

footer
{
  margin-left: 15%;
  width:100%;

}
